{%load static%}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EarlyPost blog's</title>

    <link rel="stylesheet" href="{%static 'CSS/blog.css'%}">
    <script src="{% static 'JAVASCRIPT/login.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="navbar-brand" aria-current="page" href="/index">Home</a>
      </li>

    </ul>
    <a class="navbar-brand" href="/list">EarlyPost Blog's</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

        </li>

      </ul>

      <li class="nav-item">
      <a href="/login" target="_blank" class="btn btn-success ">Signup</a>

      </li>
    </div>
  </div>
</nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


{%block title_block%}

<div class="row first-info" style="background-image: url({% static 'images/cache_4229929606.gif' %})" >
</div>
<h1>EarlyPost Blog's</h1>
<a href="/list" target="_blank" class="btn btn-success ">Checkout Latest Blog's Here</a>


<img src="{%static "images/cache_4229929606.gif" %} ">


  </body>
</html>


{%endblock%}
